<div class="item">
  <img src=<%="#{challenge.image_url}"%> class="challenge_image">
  <h1><%= challenge.title %></h1>
  <h3>By <%= challenge.user.first_name %></h3>
  <p><%= challenge.location %></p>
  <p><%= challenge.description %></p>
</div>