<div class="vbar-user">
  <div class="vbar-pic">
    <img class="profile_pic_thumbnail" id="<%=user.email%>"src="http://simpleicon.com/wp-content/uploads/user1.png">
  </div>

  <div>
      <%= link_to "#{user.first_name} #{user.last_name}", user %></a><br>
      <span>Completed: <%= user.user_challenges.where(completed?: true).count %></span><br>
      <span>Accepted: <%= user.user_challenges.where(accepted?: true, completed?: false).count %>
      </span>
      <br>

      <% @follower_ids = user.followers.select(:id).map(&:id) %>
      <% if @follower_ids.include?(current_user.id) %>
        <div class='unfollow'>
          <%= link_to 'unfollow', "/users/unfollow/#{user.id}", class: "unfollow_link" %>
        </div>
        <% else %>
        <div class='follow'>
          <%= link_to 'follow', "/users/follow/#{user.id}", class: "follow_link"%>
        </div>
      <% end %>
  </div>
</div>