  <div class="lightbox_background"></div>
  <%= render 'friend_selector' %>
  <header id="top-nav">
  <form id="search-form">
    <input id="search" type="text" name="query" placeholder="Search for challenges">
  </form>
  <div class="sign_out_div">
    <a href="<%=log_out_path%>" class="signout_button">Sign Out</a>
  </div>
  <div id="brand"><%= link_to 'FitFriends', @signed_in_user %></div>
</header>

<main class="profile_container">

  <!-- Tabs -->
  <div id="tabs">
    <div class="top_tabs_nav_bar">
      <div class="left-nav">
        <section id="profile-image-container avatar">
          <img class='profile_image' src="http://simpleicon.com/wp-content/uploads/user1.png">
        </section>
        <h3 class="username_profile"><%="#{@user.first_name} #{@user.last_name}" %></h3>
        <% if @user != @signed_in_user %>
          <% @follower_ids = @user.followers.select(:id).map(&:id) %>
          <% if @follower_ids.include?(current_user.id) %>
            <div class='unfollow'>
              <%= link_to 'unfollow', "/users/unfollow/#{@user.id}", class: "unfollow_link" %>
            </div>
            <% else %>
            <div class='follow'>
              <%= link_to 'follow', "/users/follow/#{@user.id}", class: "follow_link"%>
            </div>
          <% end %>
        <% end %>
      </div>
      <ul class="tabs_list">
        <li class="tab" id="challenges_tab"><a href="#challenges">challenges</a></li>
        <li class="tab" id="users_tab"><a id="user_tab" href="#users">users</a></li>
        <li class="tab" id="friend_activity_tab"><a id="friend_activity_tab" href="#friend_activity">Friend Activity</a></li>
      </ul>
    </div>

    <div class="tab_area" id="challenges">
      <section id="challenges-container">
        <div id="challenge_buttons">
          <button id = "create_challenge" class="test_show challenge_buttons">Create</button>
          <button id = "accepted" class="challenge_buttons">Accepted</button>
          <button id = "most_recent" class="challenge_buttons"> Recent </button>
          <button id = "trending" class="challenge_buttons"> Trending </button>
          <button id = "completed" class="challenge_buttons"> Completed </button>
          <button id = "pending" class="challenge_buttons"> Pending </button>
          <button id = "submitted" class="challenge_buttons"> Submitted </button>
        </div>
        <div class="map_challenge_container">
          <section class="map_container">
            <div id="panel">
              <input id="address" type="textbox" value="Sydney, NSW">
              <input type="button" value="Geocode" class="map_button">
            </div>
            <div id="map-canvas">
            </div>
          </section>
          <div class="challenges_river">
          </div>
        </div>
      </section>
    </div>
    <div class="tab_area" id="users">
      <%= render :partial => 'follow', locals: {user: @user} %>
    </div>


    <div class="tab_area" id="friend_activity">
      <%= render :partial => 'friend_activity', locals: {user: @user, accepted: @accepted_folowee_challenges, completed: @completed_folowee_challenges} %>
    </div>
  </div>
</main>

