<header id="top-nav">
  <div class="sign_out_div">
    <a href="<%=log_out_path%>" class="signout_button">Sign Out</a>
  </div>
  <form id="search-form">
    <input id="search" type="text" name="query" placeholder="Search for challenges">
  </form>
  <div id="brand">FitNasty</div>
</header>


<main class="profile_container">
  <div class="left-nav">
    <section id="avatar">
      <img src="thumb.png" width="80" height="80"/>
    </section> 
    <h1><%="#{@user.first_name} #{@user.last_name}" %></h1>
    <section id="friends-container">
      <h3>Friends</h3>
      <ul>

      </ul>
    </section>
    <button class="test_show">Create Challenge</button>

    <section id="trends-container">
      <h3>Trends</h3>
      <ul>

      </ul>
    </section>
  </div>

  <!-- Tabs -->
  <div id="tabs">
    <ul class="tabs_list">
      <li class="tab"><a href="#challenges">challenges</a></li>
      <li class="tab"><a href="#users">users</a></li>
    </ul>
    <div class="tab_area" id="challenges">
      <section id="challenges-container">
        <h3>CHALLENGES</h3>
      </section>
    </div>
    <div class="tab_area" id="users">
      <%= render :partial => 'follow', locals: {user: @user} %>
      <section id="users-container">
        <h3>USERS</h3>
      </section>
      <div class="followers">
        <form id="user_search">
          <input type="search", placeholder="search for users">
        </form>
        <p>followers</p>
        <% @user.followers.each do |follower| %>
          <%= render partial: 'user', locals: {user: follower} %>
        <% end %>
      </div>
      <div class="followees">
        <p>following</p>
        <% @user.followees.each do |followee| %>
          <%= render partial: 'user', locals: {user: followee} %>
        <% end %>
      </div>

    </div>
  </div>
</main>