{{#challenges}}
<div class="challenge" id = "{{id}}">
  <figure class="challenge_image_figure">
    <img class="challenge_image" src={{image_url}}>
  </figure>
    <h1>{{title}}</h1>
  <span class="challenge_location">
    {{location}}
  </span>
  <p class="challenge_description">
    {{description}}
  </p>
    <span class="created_by">Posted By: <a href = '/users/{{user.id}}'> {{user.first_name}}</a>
    </span>
    {{#tagsHelper}}
    {{/tagsHelper}}
      {{#checkStatus}}
      {{/checkStatus}}
      <div class= 'friend_selector_button' id={{id}}>
      </div>
      <canvas id="myChart-{{id}}" width="200" height="200"></canvas>
</div>
{{/challenges}}
