{{#challenges}}
<div class="challenge">
  <img class="challenge_image" src="http://upload.wikimedia.org/wikipedia/commons/a/a4/Ggb_by_night.jpg" alt="">
  <div class="challenge_title">
    <h1>{{title}}</h1>
  </div>
  <span class="challenge_location">
    {{location}}
  </span>
  <p class="challenge_description">
    {{description}}
  </p>
{{/challenges}}
  {{#getuser}}
    <span class="created_by">Posted By:{{first_name}}
    </span>
  {{/getuser}}
  <div class="tags">
    Tags: {{tags}}
  </div>
</div>