{{#challenges}}
<div class="challenge">
  <img class="challenge_image" src="http://upload.wikimedia.org/wikipedia/commons/a/a4/Ggb_by_night.jpg">
  <div class="challenge_title">
    <h1>{{title}}</h1>
  </div>
  <span class="challenge_location">
    {{location}}
  </span>
  <p class="challenge_description">
    {{description}}
  </p>
  {{#getuser}}
    <span class="created_by">Posted By: <a href = /users/{{id}}> {{first_name}} </a>
    </span>
  {{/getuser}}
  {{#tagsHelper}}
  {{/tagsHelper}}
</div>
{{/challenges}}

