{{#challenges}}
<div class="challenge" id = "{{id}}">
  <img class="challenge_image" src={{image_url}}>
    <h1>{{title}}</h1>
  </div>
  <span class="challenge_location">
    {{location}}
  </span>
  <p class="challenge_description">
    {{description}}
  </p>
    <span class="created_by">Posted By: <a href = '/users/{{user.id}}'> {{user.first_name}}</a>
    </span>
    {{#tagsHelper}}
    {{/tagsHelper}}
      {{#checkStatus}}
      {{/checkStatus}}
      <div class= 'friend_selector_button' id={{id}}> </div>
</div>
{{/challenges}}
